.food-card{
  width:230px;
  background:white;
  border-radius:10px;
  padding:15px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  transition:0.3s;
}

.food-card:hover{
  transform:scale(1.05);
}

.food-card img{
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:8px;
}

.food-card h3{
  margin:10px 0;
  font-size:18px;
}

.food-card p{
  font-weight:bold;
}

.food-card button{
  padding:8px 14px;
  border:none;
  background:#ff4d4d;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.food-card button:hover{
  background:#e63b3b;
}